*.tiff
*.tif
*.png
*.pth
*.pyc

__pycache__/*
.ipynb_checkpoints/*
.vs/*
.vscode/*
.visdom/*
models/__pycache__/*
utils/__pycache__/*
checkpoints/*
KimiaNet/*
runs/*
tensorboard/*
CoarseAnnotation/*
ABC_vs_GCB.ipynb
analyze.ipynb
clustering.py
CNN_stain_augmentation.py
construct_graph_centroids.py
construct_graph_UMAP.py
dashapp.py
dataset_objects_bis.py
DenseNet_Feature_Extraction.py
GNN_test.py
GNN.py
hans.csv
heatmaps.ipynb
histolab tiling.ipynb
hovernet_model.ipynb
infence_flops.ipynb
inference_params.ipynb
inference_times.ipynb
inference_times.py
KimiaNet_PyTorch_Feature_Extraction.py
kimianet.py
kimianetSVM.py
labels.csv
Mahfoud-experiment.ipynb
nuclei_extraction.ipynb
organes_distribution.ipynb
pointcloud.pickle
pointcloud.py
pointclouds.ipynb
script_DLBCLMorph.sh
script_GNN.sh
stain_normalize.ipynb
stains_vectors.ipynb
test.py
testHES.py
testKimianetSVM.py
testWholeSlide.py
train_distil_finetune.py
train_hierarchical.py
train_WSI.py
trainHES.py
Untitled-2.ipynb
WSI_vs_ImageNet.ipynb
CHULille.py
script_BCI.sh
script_IHCViT.sh
utils/extract_sequence_DLBCLMorph.py
annotations/*
models/__init__.py
models/CNN.py
models/HIPT.py
models/HoVerNet.py
models/IHCCluster.py
models/IHCDistil.py
models/IHCViTbis.py
models/IHCViTbisMasking.py
models/IHCViTHierarchical.py
models/IHCViTter.py
models/KimiaNet.py
models/vision_transformer.py
models/vision_transformer4k.py
models/VisionTransformer.py
